In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np

file_path = r'C:\Users\genes\documents\transactions.csv'

df = pd.read_csv(file_path)


# Data overview
print("Initial data overview:")
print(df.info())
print(df.head())

# Step 1: Clean column names (strip spaces)
df.columns = df.columns.str.strip()

# Step 2: Handle missing values in 'TRANSACTION DETAILS', 'WITHDRAWAL AMT', 'DEPOSIT AMT', 'BALANCE AMT'
df['TRANSACTION DETAILS'].fillna('Unknown', inplace=True)

# Fill missing withdrawal/deposit amounts with 0 (no transaction)
df['WITHDRAWAL AMT'].fillna('0', inplace=True)
df['DEPOSIT AMT'].fillna('0', inplace=True)

# Step 3: Combine 'WITHDRAWAL AMT' and 'DEPOSIT AMT' into 'transaction_amount'
df['WITHDRAWAL AMT'] = df['WITHDRAWAL AMT'].str.replace(',', '').astype(float)
df['DEPOSIT AMT'] = df['DEPOSIT AMT'].str.replace(',', '').astype(float)

df['transaction_amount'] = df['DEPOSIT AMT'] - df['WITHDRAWAL AMT']

# Step 4: Convert 'BALANCE AMT' to numerical values
df['BALANCE AMT'] = df['BALANCE AMT'].str.replace(',', '').astype(float)

# Step 5: Drop irrelevant column '.'
df.drop(columns=['.'], inplace=True)

# Step 6: Display the cleaned data overview
print("\nCleaned data overview:")
print(df.info())
print(df.head())

# Step 7: Save the cleaned data to a new CSV file
cleaned_file_path = r'C:\Users\genes\documents\transactions.csv'
df.to_csv(cleaned_file_path, index=False)

Initial data overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116201 entries, 0 to 116200
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Account No           116201 non-null  object
 1   DATE                 116201 non-null  object
 2   TRANSACTION DETAILS  113702 non-null  object
 3   CHQ.NO.              905 non-null     float64
 4   VALUE DATE           116201 non-null  object
 5    WITHDRAWAL AMT      53549 non-null   object
 6    DEPOSIT AMT         62652 non-null   object
 7   BALANCE AMT          116201 non-null  object
 8   .                    116201 non-null  object
dtypes: float64(1), object(8)
memory usage: 8.0+ MB
None
      Account No       DATE               TRANSACTION DETAILS  CHQ.NO.  \
0  409000611074'  29-Jun-17  TRF FROM  Indiaforensic SERVICES      NaN
1  409000611074'   5-Jul-17  TRF FROM  Indiaforensic SERVICES      NaN
2  409000611074'  18-Jul-17        FDRL/INTERNAL FUND TRANSFE      NaN
3  409000611074'   1-Aug-17   TRF FRM  Indiaforensic SERVICES      NaN
4  409000611074'  16-Aug-17        FDRL/INTERNAL FUND TRANSFE      NaN

  VALUE DATE  WITHDRAWAL AMT   DEPOSIT AMT    BALANCE AMT  .
0  29-Jun-17              NaN  1,000,000.00  1,000,000.00  .
1   5-Jul-17              NaN  1,000,000.00  2,000,000.00  .
2  18-Jul-17              NaN    500,000.00  2,500,000.00  .
3   1-Aug-17              NaN  3,000,000.00  5,500,000.00  .
4  16-Aug-17              NaN    500,000.00  6,000,000.00  .

Cleaned data overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116201 entries, 0 to 116200
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Account No           116201 non-null  object
 1   DATE                 116201 non-null  object
 2   TRANSACTION DETAILS  116201 non-null  object
 3   CHQ.NO.              905 non-null     float64
 4   VALUE DATE           116201 non-null  object
 5   WITHDRAWAL AMT       116201 non-null  float64
 6   DEPOSIT AMT          116201 non-null  float64
 7   BALANCE AMT          116201 non-null  float64
 8   transaction_amount   116201 non-null  float64
dtypes: float64(5), object(4)
memory usage: 8.0+ MB
None
      Account No       DATE               TRANSACTION DETAILS  CHQ.NO.  \
0  409000611074'  29-Jun-17  TRF FROM  Indiaforensic SERVICES      NaN
1  409000611074'   5-Jul-17  TRF FROM  Indiaforensic SERVICES      NaN
2  409000611074'  18-Jul-17        FDRL/INTERNAL FUND TRANSFE      NaN
3  409000611074'   1-Aug-17   TRF FRM  Indiaforensic SERVICES      NaN
4  409000611074'  16-Aug-17        FDRL/INTERNAL FUND TRANSFE      NaN

  VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT  BALANCE AMT  transaction_amount
0  29-Jun-17             0.0    1000000.0    1000000.0           1000000.0
1   5-Jul-17             0.0    1000000.0    2000000.0           1000000.0
2  18-Jul-17             0.0     500000.0    2500000.0            500000.0
3   1-Aug-17             0.0    3000000.0    5500000.0           3000000.0
4  16-Aug-17             0.0     500000.0    6000000.0            500000.0